.BTW {
  margin-left: 70px !important;
  margin-right: 70px !important;
  padding-left: 350px !important;
  padding-right: 350px !important;
  margin-top: 170px !important;
}

.body {
  margin-top: 170px !important;
  margin-left: 170px !important;
  padding-left: 350px !important;
  padding-right: 350px !important;
}
